# ============ Existing ============
APP_PORT=8686
APP_ENV=development
FRONTEND_URL=http://localhost:3000

DB_HOST=localhost
DB_PORT=1433
DB_USER=sa
DB_PASSWORD=YourStrongPassword123!
DB_NAME=pasti_v3_db

JWT_SECRET=ganti-dengan-secret-key-yang-sangat-panjang-dan-random
JWT_ACCESS_EXPIRE_MINUTES=15
JWT_REFRESH_EXPIRE_DAYS=7

PASSWORD_PEPPER=ganti-dengan-pepper-secret-yang-berbeda-dari-jwt-secret

# ============ SSO Kemenkeu (OIDC) ============
# SSO_ENV: development | production
SSO_ENV=development
SSO_CLIENT_ID=pasti
SSO_CLIENT_SECRET=85945489a13e47c8baa274d460e15337
SSO_SCOPE=openid profile
SSO_REDIRECT_URI=http://localhost:8686/sso/callback/login

# ============ Superadmin Permanen (tidak bisa dihapus/diubah) ============
SUPERADMIN_PROTECTED_EMAIL=auliyaputraazhari@kemenkeu.go.id
SUPERADMIN_PROTECTED_NIP=199609102018011005